* {
  margin: 0 auto;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.5em;
  text-decoration: none;
  vertical-align: baseline;
  font-weight: normal;
  text-align: center;
  height: auto;
  width: 100%; }

body {
  font: 14px/21px "Blankenburg", Impact, Charcoal, sans-serif;
  color: black;
  background: #aa0000; }

a, a:active, a:visited, h2 {
  color: white; }

a:hover {
  color: black; }

h1 {
  font-size: 4em; }

h2 {
  font-size: 2em; }

.behaeltnis {
  margin-top: 50px;
  max-width: 95%; }

#gabeltaster {
  font-size: 2em;
  background: black;
  border-top: 2px solid white;
  border-bottom: 2px solid white; }
  #gabeltaster a:hover {
    color: #aa0000; }

img {
  max-width: 160px;
  height: auto; }

.klang {
  margin-bottom: 1em; }

.taster {
  border: 2px solid white;
  cursor: pointer;
  background: black; }
  .taster:hover {
    color: black;
    background: white;
    border-color: black; }

@media only screen and (min-width: 550px) {
  .klang {
    float: left;
    width: 48%;
    margin-left: 1%;
    margin-right: 1%; }

  #gabeltaster {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    width: 200px;
    overflow: hidden;
    height: 200px;
    z-index: 9999; } }
@media only screen and (min-width: 840px) {
  .klang {
    width: 31%; } }
@media only screen and (min-width: 1280px) {
  .behaeltnis {
    max-width: 1280px; } }
@font-face {
  font-family: "Blankenburg";
  src: url("../font/Blankenburg.ttf") format("truetype"); }
